<header>
	<div class="outline">
		<div class="header">
			<a class="logo" href="//www.microsoft.com">
				<svg class="svgicon svgicon-microsoft-color-logo">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/symbol-defs.svg#svgicon-microsoft-color-logo"></use>
				</svg>
			</a>
			<div class="loading-animation"></div>
			<span class="environment"></span>
			<div>
			</div>
		</div>
	</div>
</header>
<div class="brand-primary">
	<div class="jumbo">
		<div class="jumbo-header">
			<a href="https://www.botframework.com/">Bot Framework</a>
		</div>
		<ul class="header-nav"><li>
				<a href="https://dev.botframework.com/#/bots">My bots</a>
			</li><li>
				<a href="https://dev.botframework.com/#/bots/new">Register a bot</a>
			</li><li class="active">
				<a href="/">Documentation</a>
			</li><li>
				<a href="https://bots.botframework.com/">Bot Directory</a>
			</li><li>
				<a href="https://blog.botframework.com/">Blog</a>
			</li></ul>
		<!--	
		<div class="search-outter">
			<div class="open-search"></div>
			<div class="searchBox">
				<form method="GET" action="https://dev.botframework.com/#/search">
					<input type="text" class="searchText" name="s" placeholder="Search Microsoft bot directory…"/>
						<button type="submit" class="icon-search">
							<span>Search</span>
						</button>
				</form>
			</div>
		</div>
		-->
	</div>
</div>


